@use 'sass:map';

$breakpoints: (
  "phone": 568px,
);

$colors: (
  "dark-4": #10002B,
  "dark-3": #240046,
  "dark-2": #3C096C,
  "dark-1": #5A189A,
  "light-1": #7B2CBF,
  "light-2": #9D4EDD,
  "light-3": #C77DFF,
  "light-4": #E0AAFF,
  "light-5": #f8ebff,
  "accent": #70BF2C
);

@function color($key){
  @return map.get($colors, $key);
}

@function breakpoint($key){
  @return map.get($breakpoints, $key);
}

html, body, * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  background-color: color("dark-4");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
