@use 'sass:map';

// constants and access functions
$textSizes: (
  "XL": 3rem,
  "L": 2rem,
  "M": 1.5rem, // 1.875vw, 36px, 2.25rem
  "S": 1.25rem, // 1.250vw, 24px, 1.5rem
  "XS": 1rem, // 0.938vw, 18px, 1.125rem
  "XXS": 0.75rem
);

@function textSize($key){
  @return map.get($textSizes, $key);
}

$breakpoints: (
  "tablet": 768px,
  "laptop-M": 1250px,
  "phone-L": 425px
);

@function breakpoint($key){
  @return map.get($breakpoints, $key);
}

$colors: (
  "dark-4": #10002B,
  "dark-3": #240046,
  "dark-2": #3C096C,
  "dark-1": #5A189A,
  "light-1": #7B2CBF,
  "light-2": #9D4EDD,
  "light-3": #C77DFF,
  "light-4": #E0AAFF,
  "light-5": #f8ebff,
  "accent": #70BF2C
);

@function color($key){
  @return map.get($colors, $key);
}

html {
  font-size: 16px;
  width: 100%;
}
