@import '../../index.scss';

.home.container {
    display: block;

    img.bg {
        position: fixed;
        z-index: -1;

        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        text-align: center;
        padding: 0 1rem;

        p {
            // margin-top: 48vh;
            font-size: textSize("medium");
            font-weight: 400;
        }

        img {
            position: absolute;
            bottom: 1rem;
            width: 100px;
            object-fit: cover;
        }
    }

    .mission {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;

        .lead-in {
            align-self: flex-start;
            font-size: textSize("medium");
            font-weight: 300;
            margin: 3rem 0 0rem 3rem;
        }

        .card-row {
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;
            justify-content: center;
            margin: 3rem 1rem;

            .card {
                background-color: color("dark-3");
                
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                padding: 1rem;
                margin: 1rem;
                
                img {
                    margin: auto 1rem;
                    object-fit: contain;
                    padding-bottom: 1rem;
                }

                p {
                    margin-top: auto;
                    font-size: textSize("small");
                    font-weight: 300;
                }
            }
        }

        .hook {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            margin: 1rem 2rem;

            .txt {
                text-align: center;
                font-size: textSize("medium");
                font-weight: 300;
                margin: 1rem 1rem 3rem 1rem;
            }
            
        }
    }

    @media (max-width: breakpoint("phone-L")) {
        .mission {
            .lead-in {
                margin: 3rem auto 0 auto;
            }
            .card-row {
                flex-flow: column nowrap;
            }
        }
    }
}